---
import Socials from "../Socials.astro"
---

<div class="intro">
  <h1 class="title">Hi, I'm Kim 👋</h1>
  <p>a Product Engineer & Chapter Lead, currently living in Hamburg, Germany.</p>
  <p>There is more <a href="/about">about me</a>, or my experiences.</p>
  <Socials justifyItems="start" />
</div>

<style>
  .intro {
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 10%;
    width: 27%;
  }
</style>
