---
import { Card, CardAvatar, CardContent, CardTitle } from "../components/Card"
import Link from "../components/Link.astro"
import Socials from "../components/Socials.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
const title = "Kim Schneider | Frontend Engineer | Hamburg"
const description = "Frontend Engineer living in Hamburg, currently working for MOIA."
---

<BaseLayout title={title} description={description}>
  <Card maxWidth={570}>
    <CardAvatar avatar="/assets/kim-avatar.jpg" />
    <CardTitle>Hi, I'm Kim 👋</CardTitle>
    <CardContent>
      <p>
        I live in Hamburg, Germany and work for <Link link="http://moia.io" alt="MOIA.io" newTab
          >@MOIA</Link
        > as a Chapter Lead and Fullstack Engineer. I'm also part of the team over at <Link link="https://postmitherz.org" newTab
          >Post mit Herz</Link
        >.
      </p>
      <p>
        I also do Longboard Freestyle & Dance as a Teamrider for <Link
          link="https://www.studiolongboard.com/neuer-teamfahrer-kim-stellt-sich-vor/"
          newTab>Studio Longboard.</Link
        >
      </p>
      <p>
        Feel free to write me an <Link link="mailto:write@schneider.kim">email</Link> or check my socials.
        ✌️
      </p>
      <p>
        You can also check my <a href="https://read.cv/kom" target="_blank" rel="noopener noreferrer">CV</a>
      </p>
    </CardContent>
    <hr />
    <Socials />
  </Card>
</BaseLayout>
