---

---

<div class="chevrons">
  <div class="chevron top-left"></div>
  <div class="chevron top-right"></div>
  <div class="chevron bottom-left"></div>
  <div class="chevron bottom-right"></div>
</div>

<style>
  .chevron {
    --chevronSize: 30px;
    position: absolute;
    width: var(--chevronSize);
    height: var(--chevronSize);
  }

  .chevron::before,
  .chevron::after {
    content: "";
    position: absolute;
    width: 2px;
    height: var(--chevronSize);
  }

  @media (prefers-color-scheme: light) {
    .chevron::before,
    .chevron::after {
      background-color: var(--color-content-light);
    }
  }
  @media (prefers-color-scheme: dark) {
    .chevron::before,
    .chevron::after {
      background-color: var(--color-content-dark);
    }
  }

  .chevron::after {
    transform: rotate(90deg);
    top: calc((-1 * var(--chevronSize) / 2) - 1px);
    left: calc((var(--chevronSize) / 2) - 1px);
  }

  .top-left {
    top: 10px;
    left: 10px;
  }

  .top-right {
    top: 10px;
    right: 10px;
    transform: rotate(90deg);
  }

  .bottom-left {
    bottom: 10px;
    left: 10px;
    transform: rotate(-90deg);
  }

  .bottom-right {
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
  }
</style>
