---
import Socials from "./Socials.astro"

const yearsOfExperience = new Date().getFullYear() - 2006
---

<div class="intro">
  <h1 class="title">Hi, I'm Kim 👋</h1>
  <p>a Product Engineer & Chapter Lead, currently living in Hamburg, Germany.</p>
  <p>
    With more than {yearsOfExperience} years of development experience, I have gained expertise in full-stack
    engineering, web motion design, and leading sustainable teams while working in diverse industries
    and collaborating on a wide range of projects.
  </p>
  <Socials />
</div>

<style>
  .intro {
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 10%;
    width: 27%;
  }
  h1 {
    font-size: 70px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
  }
</style>
