<div class="orbs">
  <div class="orb one"></div>
  <div class="orb two"></div>
  <div class="orb three"></div>
</div>

<style lang="scss">
  .orbs {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
    .orb {
      position: absolute;
      border-radius: 50%;
    }

    .orb.one {
      animation: one 25s infinite linear;
      filter: blur(126px);
      height: calc(100vw / 4);
      left: 0;
      opacity: 1;
      top: 0;
      width: calc(100vw / 2);
      z-index: 30;
      @media (prefers-color-scheme: light) {
        background: linear-gradient(289.61deg, #da9c3f 0%, #ebd8bb 100.46%);
      }
      @media (prefers-color-scheme: dark) {
        background: linear-gradient(7deg, #9b594b 0%, #e9b979 100%);
      }
    }

    .orb.two {
      animation: two 18s infinite linear;
      filter: blur(90px);
      height: calc(100vw / 4);
      left: 43%;
      opacity: 0.7;
      top: 35%;
      width: calc(100vw / 2);
      z-index: 20;
      @media (prefers-color-scheme: light) {
        background: linear-gradient(19.35deg, #c98476 11.28%, #e1ad7d 96.28%);
      }
      @media (prefers-color-scheme: dark) {
        background: linear-gradient(315deg, #6d94b0 0%, #1b2329 100%);
      }
    }

    .orb.three {
      animation: three 20s infinite linear;
      filter: blur(126px);
      height: calc(100vw / 2);
      left: 10%;
      top: 50%;
      width: calc(100vw / 3);
      z-index: 10;
      @media (prefers-color-scheme: light) {
        opacity: 0.5;
        background: linear-gradient(19.35deg, #6e7984 11.28%, #1188f5 96.28%);
      }
      @media (prefers-color-scheme: dark) {
        opacity: 0.8;
        background: linear-gradient(19.35deg, #000000 11.28%, #bdbdbd 96.28%);
      }
    }
  }

  @keyframes one {
    0% {
      transform: scale(1) rotate(0deg);
      translate: 100px 0px;
    }
    30% {
      transform: scale(1.3) rotate(130deg);
      translate: 800px 400px;
    }
    60% {
      transform: scale(2) rotate(180deg);
      translate: 400px 250px;
    }
    100% {
      transform: scale(1) rotate(0deg);
      translate: 100px 0px;
    }
  }

  @keyframes two {
    0% {
      transform: scale(1) rotate(0);
      translate: 0px 0px;
    }
    30% {
      transform: scale(1.5) rotate(-120deg);
      translate: -150px -100px;
    }
    60% {
      transform: scale(1.2) rotate(-90deg);
      translate: -200px -130px;
    }
    100% {
      transform: scale(1) rotate(0);
      translate: 0px 0px;
    }
  }

  @keyframes three {
    0% {
      top: 250px;
      right: 0px;
      transform: scale(1);
    }
    30% {
      top: 150px;
      right: 150px;
      transform: scale(1.4);
    }
    60% {
      top: 250px;
      right: 100px;
      transform: scale(1);
    }
    100% {
      top: 250px;
      right: 0px;
      transform: scale(1);
    }
  }

  @keyframes orbit {
    0% {
      transform: rotate(0deg) translateX(100px) rotate(0deg);
    }

    100% {
      transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
  }

  @keyframes sizeChange {
    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(2);
    }
  }
</style>
