<div class="links">
  <a class="link" href="https://bsky.app/profile/ikasch.bsky.social" rel="me" target="_blank">
    <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.5029 1.77801C9.94232 4.36012 13.6418 9.59555 15.0001 12.4052C16.3585 9.59576 20.0577 4.36006 23.4973 1.77801C25.979 -0.085133 30 -1.52673 30 3.0605C30 3.97664 29.4747 10.7565 29.1667 11.8572C28.0958 15.6839 24.1937 16.6599 20.7228 16.0692C26.79 17.1018 28.3334 20.5222 25.0002 23.9426C18.6697 30.4386 15.9014 22.3127 15.1918 20.2306C15.0617 19.8489 15.0009 19.6703 15 19.8222C14.9991 19.6703 14.9383 19.8489 14.8082 20.2306C14.0989 22.3127 11.3307 30.4388 4.99983 23.9426C1.66654 20.5222 3.20993 17.1016 9.27724 16.0692C5.80616 16.6599 1.90401 15.6839 0.833323 11.8572C0.525245 10.7564 0 3.97653 0 3.0605C0 -1.52673 4.02111 -0.085133 6.50272 1.77801H6.5029Z"/>
      </svg>      
  </a>
  <a class="link" href="https://instagram.com/ikasch" rel="noreferrer" target="_blank">
    <svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M15 2.70375C19.005 2.70375 19.48 2.71875 21.0625 2.79125C25.1275 2.97625 27.0262 4.905 27.2112 8.94C27.2837 10.5212 27.2975 10.9963 27.2975 15.0013C27.2975 19.0075 27.2825 19.4813 27.2112 21.0625C27.025 25.0938 25.1313 27.0262 21.0625 27.2112C19.48 27.2837 19.0075 27.2988 15 27.2988C10.995 27.2988 10.52 27.2837 8.93875 27.2112C4.86375 27.025 2.975 25.0875 2.79 21.0613C2.7175 19.48 2.7025 19.0062 2.7025 15C2.7025 10.995 2.71875 10.5213 2.79 8.93875C2.97625 4.905 4.87 2.975 8.93875 2.79C10.5213 2.71875 10.995 2.70375 15 2.70375V2.70375ZM15 0C10.9262 0 10.4162 0.0175 8.81625 0.09C3.36875 0.34 0.34125 3.3625 0.09125 8.815C0.0175 10.4163 0 10.9262 0 15C0 19.0738 0.0175 19.585 0.09 21.185C0.34 26.6325 3.3625 29.66 8.815 29.91C10.4163 29.9825 10.9262 30 15 30C19.0738 30 19.585 29.9825 21.185 29.91C26.6275 29.66 29.6625 26.6375 29.9088 21.185C29.9825 19.585 30 19.0738 30 15C30 10.9262 29.9825 10.4162 29.91 8.81625C29.665 3.37375 26.6387 0.34125 21.1862 0.09125C19.585 0.0175 19.0738 0 15 0V0ZM15 7.2975C10.7462 7.2975 7.2975 10.7462 7.2975 15C7.2975 19.2538 10.7462 22.7038 15 22.7038C19.2538 22.7038 22.7025 19.255 22.7025 15C22.7025 10.7462 19.2538 7.2975 15 7.2975ZM15 20C12.2387 20 10 17.7625 10 15C10 12.2387 12.2387 10 15 10C17.7613 10 20 12.2387 20 15C20 17.7625 17.7613 20 15 20ZM23.0075 5.19375C22.0125 5.19375 21.2063 6 21.2063 6.99375C21.2063 7.9875 22.0125 8.79375 23.0075 8.79375C24.0013 8.79375 24.8062 7.9875 24.8062 6.99375C24.8062 6 24.0013 5.19375 23.0075 5.19375Z"
      ></path>
    </svg>
  </a>
  <a class="link" href="https://github.com/iKasch" rel="noreferrer" target="_blank">
    <svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M15 0C6.7175 0 0 6.71625 0 15C0 21.6275 4.2975 27.25 10.2588 29.2337C11.0075 29.3725 11.25 28.9075 11.25 28.5125V25.72C7.0775 26.6275 6.20875 23.95 6.20875 23.95C5.52625 22.2163 4.5425 21.755 4.5425 21.755C3.18125 20.8238 4.64625 20.8437 4.64625 20.8437C6.1525 20.9487 6.945 22.39 6.945 22.39C8.2825 24.6825 10.4538 24.02 11.31 23.6363C11.4438 22.6675 11.8325 22.005 12.2625 21.6313C8.93125 21.25 5.42875 19.9638 5.42875 14.2175C5.42875 12.5788 6.015 11.2412 6.97375 10.1912C6.81875 9.8125 6.305 8.28625 7.12 6.22125C7.12 6.22125 8.38 5.81875 11.2462 7.75875C12.4425 7.42625 13.725 7.26 15 7.25375C16.275 7.26 17.5588 7.42625 18.7575 7.75875C21.6213 5.81875 22.8788 6.22125 22.8788 6.22125C23.695 8.2875 23.1812 9.81375 23.0262 10.1912C23.9887 11.2412 24.57 12.58 24.57 14.2175C24.57 19.9788 21.0613 21.2475 17.7213 21.6187C18.2588 22.0837 18.75 22.9963 18.75 24.3963V28.5125C18.75 28.9113 18.99 29.38 19.7513 29.2325C25.7075 27.2462 30 21.625 30 15C30 6.71625 23.2838 0 15 0Z"
      ></path>
    </svg>
  </a>
  <a
    class="link"
    href="https://www.linkedin.com/in/kim-schneider-413896164/"
    rel="noreferrer"
    target="_blank"
  >
    <svg fill="none" height="29" viewBox="0 0 30 29" width="30" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M6.225 3.125C6.225 4.85125 4.8375 6.25 3.125 6.25C1.4125 6.25 0.025 4.85125 0.025 3.125C0.025 1.4 1.4125 0 3.125 0C4.8375 0 6.225 1.4 6.225 3.125ZM6.25 8.75H0V28.75H6.25V8.75ZM16.2275 8.75H10.0175V28.75H16.2287V18.2512C16.2287 12.4137 23.765 11.9362 23.765 18.2512V28.75H30V16.0863C30 6.23625 18.8475 6.595 16.2275 11.4437V8.75Z"
      ></path>
    </svg>
  </a>
  <a class="link" href="https://letterboxd.com/iKasch/" rel="noreferrer" target="_blank">
    <svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M15 30C6.71573 30 0 23.2843 0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15C30 23.2843 23.2843 30 15 30ZM9.9 6.18V22.98H21.2494V18.7861H14.2634V6.18H9.9Z"
      ></path>
    </svg>
  </a>
  <a class="link" href="https://www.last.fm/user/KaScH88" rel="noreferrer" target="_blank">
    <svg fill="none" height="17" viewBox="0 0 30 17" width="30" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.2294 15.1771L12.1295 12.1872C12.1295 12.1872 10.3421 14.1809 7.66343 14.1809C5.29228 14.1809 3.6086 12.1185 3.6086 8.81988C3.6086 4.59381 5.73851 3.08137 7.83592 3.08137C10.8595 3.08137 11.8208 5.04004 12.647 7.54868L13.7469 10.986C14.8456 14.3197 16.9068 16.9995 22.8515 16.9995C27.1126 16.9995 30 15.6946 30 12.2585C30 9.47485 28.4188 8.03241 25.4639 7.34369L23.264 6.86246C21.7528 6.51873 21.3066 5.9 21.3066 4.87005C21.3066 3.70134 22.2341 3.01387 23.7465 3.01387C25.3952 3.01387 26.2889 3.6326 26.4264 5.11004L29.8625 4.69755C29.5875 1.60518 27.4576 0.333985 23.9515 0.333985C20.8591 0.333985 17.8355 1.50269 17.8355 5.24753C17.8355 7.58493 18.9692 9.06237 21.8203 9.74984L24.1565 10.2986C25.9089 10.7111 26.4926 11.4323 26.4926 12.4297C26.4926 13.7009 25.2564 14.2172 22.9203 14.2172C19.4504 14.2172 18.0055 12.396 17.1818 9.88734L16.0481 6.45123C14.6044 1.98392 12.302 0.333985 7.73218 0.333985C2.68114 0.332735 0 3.52885 0 8.95738C0 14.1809 2.68114 16.9983 7.49094 16.9983C11.3745 16.9995 13.2294 15.1771 13.2294 15.1771V15.1771Z"
      ></path>
    </svg>
  </a>
</div>

<style lang="scss">
  .links {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;

    @media only screen and (max-width: 400px) {
      gap: 10px;
    }
    .link {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media only screen and (max-width: 680px) {
    svg {
      transform: scale(0.8);
    }
  }
</style>
