---
import "../styles/global.css";

export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html>
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="http://schneider.kim" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@ikasch" />
  </head>
  <body>
    <slot />
    <script
      async
      defer
      data-domain="schneider.kim"
      src="https://plausible.io/js/plausible.outbound-links.js"
    ></script>
  </body>
</html>
